<!DOCTYPE html>
<html lang="es">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="Travel Viajes Group Agencia Mayorista">
		<meta name="author" content="Travel Viajes Group">
		<meta name="Resource-type" content="Document" />
		<link rel="shortcut icon" href="images/favicon.ico">
		<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
		<title> Mist logic</title>
		<link href="css/main.css" rel="stylesheet">
		<link href="fonts/font-awesome/css/font-awesome.css" rel="stylesheet">
		<link rel="stylesheet/less" type="text/css" href="css/timepicker.less" />

		<!-- HTML5 shim and Respond.js0	 for IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>

	<body>
		<header>
			<div id="header">

			</div>
		</header>

		<div class="container">
			<div class="row">

				<div class="col-md-4 col-md-offset-4">
					<div class="col-xs-12 logosesion">
						<img  id="img_logo" src="images/logo2.jpg" >
					</div>
					<br/>
					<div class="col-xs-12 text-center">
						<h3> Configuración de Red</h3>
						<br />
					</div>
					<div class="col-xs-12">

						<form>
							<div class="form-group text-center">
								<button type="submit" class="btn btn-config">
									Buscar Red
								</button>
							</div>

							<div class="form-group">
								<label for="selectred">Seleccionar red:</label>
								<select multiple class="form-control" id="selectred">
									<option>1</option>
									<option selected="selected">2</option>
									<option>3</option>
									<option>4</option>
									<option>5</option>
								</select>
							</div>

							<div class="col-xs-12">
								<p>
									Red seleccionada <span>2</span>
								</p>
							</div>

							<div class="form-group">
								<label>Ingresa la contraseña</label>
								<input type="password" class="form-control">
							</div>

							<div>
								<div class="col-xs-6">
									<br />
									<button type="submit" class="btn btn-config">
										Cancelar
									</button>
								</div>
								<div class="col-xs-6 text-right">
									<br />
									<button type="submit" class="btn btn-config">
										Enviar
									</button>
								</div>
							</div>
						</form>
					</div>

				</div>
			</div>
		</div>
		<footer>
			<div id="footer">
				<div class="col-md-4 col-md-offset-4">
					<ul>
						<li>
							<a href="">algo 1</a>
						</li>
						<li>
							<a href="">algo 2</a>
						</li>
						<li>
							<a href="">algo 3</a>
						</li>
					</ul>

				</div>
			</div>
		</footer>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.5.1/less.min.js"></script>
		<script type="text/javascript" src="js/bootstrap-timepicker.js"></script>

		<script type="text/javascript">
			$('#timepicker1').timepicker();
			$('#timepicker2').timepicker();
		</script>

	</body>
</html>